* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
}

.clock {
    display: flex;
    border: 5px solid;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: radial-gradient(circle,rgba(238, 174, 202, 0.2));
    justify-content: center;
    align-items: center;
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg * var(--i))); /* 360/12 = 30deg , we place the numbers every 30 degree.*/
    inset: 12px;
    text-align: center;
}

.clock span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}

.clock::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    z-index: 2;
    
}

.hand {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hand i {
    position: absolute;
    width: var(--m);
    height: var(--h);
    background-color: var(--clr);
    border-radius: 8px;
}
